// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";


.editor-styles-wrapper .vodi-live-videos.home-section .home-section__title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.editor-styles-wrapper .vodi-live-videos.home-section .home-section__header:before {
    content: none;
}