.dark.single-tv_show .tv-show__tags {
	color: #fff;
}

.dark.single-tv_show .tv_show__season-tabs-wrap {
	background: #1c212e;
}

.dark.single-tv_show p.stars a:before,
.dark.single-tv_show .tv-show__short-description p {
	color: #949cb0;
}

.dark .tv_show__season-tabs-wrap .nav .nav-item a {
	background: #323846;
}

.dark .single-video__meta > * strong {
	color: #949cb0;
}

.dark .single-video__actions-bar {
	background: #1c212e;
}

.dark .single-video__comments-link__inner {
	background: #1c212e;
	border-color: #1c212e;
}

.dark .single-video__comments-link:after {
	background: #2f2f33;
}
