.single-tv_show {
    .site-header {
        margin-bottom: 0;
    }
    
    .tv-show {
        &__head {
            @include stretch-full-width();
            margin-bottom: 20px;

            &--inner {
                position: relative;
                height: 100%;

                &:after {
                    position: absolute;
                    content: '';
                    background-image: url(../images/glow.png);
                    background-position: bottom;
                    background-size: contain;
                    display: block;
                    bottom: 0;
                    margin-left: calc(-50vw + 50% - 8px);
                    width: 100vw;
                    height: 150px;
                }
            }

            iframe {
                border: none;
            }
        }

        &__poster {
            &--image, 
            .masvideos-placeholder {
                position: relative;
                height: 393px;
                object-fit: cover;
                width: 100%;
            }
        }

        &__meta {
            margin-top: 0;
            font-family: $ms;

            > * + * {
                &:before {
                    content: '|';
                    display: inline-block;
                    margin: 0 10px;
               
                }
            }

            .vodi-views-likes {
                margin-top: 18px;
                margin-bottom: 0;

                &:before {
                    content: none;
                }
            }
        }

        &_title {
            font-size: 24px;

            @include media-breakpoint-only(lg) {
                max-width: 77%;
                font-size: 26px;
            }

            @include media-breakpoint-up(xl) {
                max-width: 80%;
            }

            @include media-breakpoint-up(xxl) {
                max-width: 84%;
            }
        }

        &__info--head,
        &__info--body {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;
            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }
        }

        &__info--head {
            margin-bottom: 22px;
        }

        &__short-description {
            display: block;
        }

        &__meta--genre, 
        &__meta--genre a, 
        &__meta--release-year {
            font-size: 14px;
        }

        &__short-description,
        &__description {
            margin-bottom: 20px;

            > div,
             p {
                font-size: 15px;
                line-height: 26px;
                letter-spacing: -0.01em;
                text-align: justify;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__related--title {
            font-size: 22px;
            margin-bottom: 23px;
        }

        &-related__carousel {
            .tv-show__info--head {
                flex-direction: column;
            }
        }

        &__rating-with-playlist {
            justify-content: flex-end;
            margin-bottom: 30px;
            
            .avg-rating-text {
                flex-direction: row;
                align-items: flex-start;
                margin-top: 0;
                letter-spacing: 0;

                span {
                    margin-right: 3px;
                }
            }
        }

        .tv-show-related {
            margin-bottom: 30px ;
        }
        

        .summary {
            margin-bottom: 20px;
            position: relative;

        }

        .tv-show__meta + .tv-show__meta--right,
        .tv-show__description + .tv-show__tags,
        .tv-show__description + .tv-show__tags {
            margin-top: 20px;

            @include media-breakpoint-up(lg) {
                flex: 0 0 37%;
                max-width: 37%;
                padding-left: 73px;
                margin-top: 0;
            }
        }

        .tv-show__meta + .tv-show__meta--right {
            @include media-breakpoint-up(lg) {
                margin-top: -21px;
            }
        }
    }

    .tv-shows .vodi-views-likes {
        display: none;
    }
}
