// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";
@import "../../components/grid";

.home-section-episodes-with-featured-episode {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 15px;

    .episodes-with-featured-episode {
        &__1-1-block,
        &__1-4-block,
        &__1-6-block,
        &__1-8-block {
            @include make-row(15px);

            .masvideos-episodes {
                @include make-col-ready(15px);

                .episode {
                    &__poster {
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }

        &__1-1-block {
            .masvideos-episodes {
                @include make-col(6);
            }
        }

        &__1-4-block {
            .masvideos-episodes {
                @include media-breakpoint-up(xl) {
                    @include make-col(6);
                }

                .columns-1 .episode {
                    &__poster{
                        .episode__link {
                            @include media-breakpoint-up(xl) {
                                height: 386px;
                                padding: 0;
                            }

                            @include media-breakpoint-up(xxl) {
                                height: 478px;
                                padding: 0;
                            }
                        }
                    }
                }

                & + .masvideos-episodes {
                    .columns-2 .episode {
                        &__poster {
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 154px;
                                    padding: 0;
                                }

                                @include media-breakpoint-up(xxl) {
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__1-6-block {
            .masvideos-episodes {
                .episode {
                    margin-bottom: 15px;

                    @include media-breakpoint-up(xxl) {
                        margin-bottom: 43px;
                    }
                }

                @include media-breakpoint-up(xl) {
                    @include make-col(4.81);
                }

                .columns-1 .episode {
                    &__poster {
                        .episode__link {
                            @include media-breakpoint-up(xl) {
                                height: 299px;
                                padding: 0;
                            }

                            @include media-breakpoint-up(xxl) {
                                height: 405px;
                            }
                        }
                    }
                }

                & + .masvideos-episodes {
                    @include media-breakpoint-up(xl) {
                        @include make-col(7.19);
                    }

                    .columns-3 .episode {
                        &__poster {
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 115px;
                                    padding: 0;
                                }

                                @include media-breakpoint-up(xxl) {
                                    height: 154px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__1-8-block {
            .masvideos-episodes {
                @include media-breakpoint-up(xl) {
                    @include make-col(4.1);
                }

                .columns-1 .episode {
                    &__poster {
                        .episode__link {
                            @include media-breakpoint-up(xl) {
                                height: 277px;
                                padding: 0;
                            }

                            @include media-breakpoint-up(xxl) {
                                height: 310px;
                            }
                        }
                    }
                }

                & + .masvideos-episodes {
                    @include media-breakpoint-up(xl) {
                        @include make-col(7.9);
                    }

                    .columns-4 .episode {
                        &__poster {
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 100px;
                                    padding: 0;
                                }

                                @include media-breakpoint-up(xxl) {
                                    height: 116px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.style-2 {
        .episodes-with-featured-episode {
            &__1-1-block,
            &__1-4-block,
            &__1-6-block {
                @include make-row(20px);

                .masvideos-episodes,
                .episode {
                    @include make-col-ready(20px);
                }

                .masvideos-episodes {
                    .episode {
                        margin-bottom: 20px;
                    }
                }

                .episodes__inner {
                    @include make-row(20px);
                }
            }

            &__1-4-block {
                .masvideos-episodes {
                    .columns-1 .episode {
                        &__poster{
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 328px;
                                }

                                @include media-breakpoint-up(xxl) {
                                    height: 420px;
                                }
                            }
                        }
                    }
                }
            }

            &__1-6-block {
                .masvideos-episodes {
                    .columns-1 .episode {
                        &__poster{
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 388px;
                                }
                            }
                        }
                    }

                    & + .masvideos-episodes {
                        .columns-3 .episode {
                            &__poster {
                                .episode__link {
                                    @include media-breakpoint-up(xl) {
                                        height: 184px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &__1-8-block {
                .masvideos-episodes {
                    .episode {
                        margin-bottom: 15px;
                    }
                    .columns-1 .episode {
                        &__poster{
                            .episode__link {
                                @include media-breakpoint-up(xl) {
                                    height: 295px;
                                }
                            }
                        }
                    }

                    & + .masvideos-episodes {
                        .columns-4 .episode {
                            &__poster {
                                .episode__link {
                                    @include media-breakpoint-up(xl) {
                                        height: 140px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
