.light.single-tv_show .tv-show_title {
	color: #19272e;
}

.light.single-tv_show .tv-show__meta--genre,
.light.single-tv_show .tv-show__meta--genre a, 
.light.single-tv_show .tv-show__meta--release-year {
	color: #949494;
}

.light.single-tv_show .tv-show__rating .avg-rating__text {
	color: #949cb0;
}

.light.single-tv_show .tv_show__season-tabs-wrap {
	background: #fcfcfc;
}

.light .tv_show__season-tabs-wrap .nav .nav-item a {
	background: #eeeff0;
}