.site__footer--v4.light {
    background-color: #eeeff0;
    color: #B0B0B0;

    .footer-v4-menu a {
        color: $vodi-dark-theme-link-color;
    }

    .footer-social-icon {
        color: $vodi-light-social-icon;
    }

    .footer-menu > li + li:before {
        color: #bdbdbd;
    }    

    .vodi-gr {
        fill: url(#vodi-gr);
    }
}