.home-section-newest-spisodes-block {
    &__inner{
        &-title {
            font-size: 22px;
            line-height: 18px;
            font-family: $ms-medium;
            padding-bottom: 16px;
            margin-bottom: 0;
        }
    }
}