.site-footer-landing {
    border-top: 1px solid;
    padding-top: 50px;
    padding-bottom: 68px;
    font-family: $ms;
    display: none;
        
    @include media-breakpoint-up(xl) {
        display: block;
    }

    .site-footer {
        &__landing-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__info {
            text-align: center;
            font-family: $os;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: -0.01em;
            color: #949cb0;
            padding-top: 14px;
        }
    }

    .landing-footer-menu {
        display: flex;
        @include list-unstyled();
        flex-wrap: wrap;
        
        a {
            padding: 8px;
            display: block;
            white-space: nowrap;

            @include media-breakpoint-up(lg) {
                padding: 10px 21px;
            }

            @include hover-focus() {
                text-decoration: none;
            }
        }

        > .menu-item-has-children > .sub-menu {
            margin: 0;

            &:before {
                content:' ';
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 10px solid;
                position: absolute;
                top: -10px;
                left: 20%;
            }
        }

        .sub-menu .menu-item-has-children > a {
            display: flex;
        }
    }

    .menu-item-has-children {

        a {

            &:after {
                content: '\f107';
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-weight: 600;
                display: inline-block;
                margin-left: 9px;
                position: relative;
                top: 2px;
                content: none;
            }
        }  

        .menu-item:not(.menu-item-has-children) a:after {
            content: none;
        }

        .menu-item-has-children a:after {
            transform: rotate(270deg);
        }
    }

    .highlight {

        a {
            font-weight: $ms-bold;
        }    
    }

    .social-icons {
        display: flex;
        @include list-unstyled();
    }

    .footer-social-icon {
        display: block;

        .fa-stack {
            height: 40px;
            width: 40px;
            line-height: 40px;
        }

        .fa-stack-2x {
            font-size: 40px;
        }

        .social-media-item__icon {
            font-size: 22px;
            margin-right: 0;
        }

        .social-media-item__title {
            display: none;
        }
    }

    .footer-social-icons.social-label .social-media-item + .social-media-item {
        margin-left: 6px;
    }
}