.masvideos-edit-manage-playlists {
	margin: 60px 0;

	h2 {
		font-size: 25px;
		font-weight: $ms-medium;
		color: #121a21;
		margin-bottom: 28px;
	}

	.masvideos-edit-playlist{
		margin-bottom: 40px;

		form.masvideos-edit-playlist__form {
			input[type="text"],
			select {
				border-radius: 0;
			}

			select {
				height: 44px;
			}

			label {
	            margin: 0;
	            font-size: 14px;
	            font-weight: $ms-semi-bold;
	            margin-bottom: 5px;
	        }

			.masvideos-Button {
		        @include make-button( 13.5px, 30px, 15px, 1, 5px, 2px );
		    }
		}
	}

	.masvideos-manage-playlists {
		table {
			
			thead {
				td {
					font-weight: $os-bold;
				}
			}

			tbody {
				td:first-child {
					a {
						color: #121a21;
					}
				}
			}
		}
	}
}