// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.section-videos-carousel-aside-header {
    padding: 66px 0;

    &__inner {
        align-items: center;
    }

    &__header {
        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }

    &.header-right {
        .section-videos-carousel-aside-header__header {
            @include media-breakpoint-up(xl) {
                order: 1;
                padding-left: 45px;
            }            
        }
    }

    &.header-left {
        .section-videos-carousel-aside-header__header {
            @include media-breakpoint-up(xl) {
                padding-right: 45px;
            }
        }
    }

    &__header + .section-videos-carousel__carousel {
        @include media-breakpoint-up(lg) {
            @include make-col(8);
        }
    }

    &__custom-arrows {
        display: flex;
        margin-bottom: 24px;

        &:last-child {
            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-down(md) {
            justify-content: center;
        }

        .slick-arrow {
            position: static;
            width: 40px;
            height: 40px;
            border: 2px solid #d2d2d8;
            border-radius: 50%;
            margin-right: 13px;
            transform: none;
            top: auto;

            &:last-child {
                margin-right: 0;
            }

            &::before {
                display: inline-block;
            }

            @include hover-focus() {
                border-color: #9f9fa4;
            }
        }

        .slick-prev::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(189, 189, 195)"/></svg>' );

            [dir="rtl"] & {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>');
            }
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>' );

            [dir="rtl"] & {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>');
            }
        }

        .slick-next::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>');

            [dir="rtl"] & {
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(189, 189, 195)"/></svg>' );
            }
        }

        .slick-next:hover::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>');

            [dir="rtl"] & {
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>' );
            }
        }

        & + .home-section__action {
            @include media-breakpoint-down(md) {
                margin-bottom: 24px;
            }
        }
    }

    &.dark {
        .slick-arrow {
            border-color: #7a7c7d;

            @include hover-focus() {
                border-color: #949cb0;
            }
        }

        .slick-prev::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(122, 124, 125)"/></svg>' );

            [dir="rtl"] & {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(122, 124, 125)" /></svg>');
            }
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(100, 106, 123)"/></svg>' );

            [dir="rtl"] & {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(100, 106, 123)" /></svg>');
            }
        }

        .slick-next::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(122, 124, 125)" /></svg>');

            [dir="rtl"] & {
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(122, 124, 125)"/></svg>' );
            }
        }

        .slick-next:hover::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(100, 106, 123)" /></svg>');

            [dir="rtl"] & {
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(100, 106, 123)"/></svg>' );
            }
        }
    }
}